doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width")
    title Elm Flickr Photo Gallery Demo
    meta(name="author" content="Kyle J. Kress")
    link(rel="stylesheet" href="/css/main.css")

  body

  script(src="/_reactor/debug.js")
  script(src="/js/elm.js")
  script.
    Elm.Main.fullScreen()
